div(ng-show="profile.login")
  .editor(ui-ace="aceOption", ng-model="content", ng-style="{height: editorHeight + 'px'}")
  alert.alert-top(ng-show="content === null", type="info") Loading...
  textarea#panel-textarea(ng-style="{top: cursorTop}", autocorrect="off", autocapitalize="off")
  .panel-area(ng-style="{top: scrollTop + 'px'}")
    .panel-button
      a(ng-click="toggleCommandMode(); $event.preventDefault()")
        span.glyphicon(ng-class="{'glyphicon-pencil': !commandMode, 'glyphicon-wrench': commandMode}")
    .panel-help(ng-show="commandMode")
      a(ng-click="show_help = !show_help; $event.preventDefault()") Keybind help
      .panel-help-content(ng-show="commandMode && show_help")
        .panel-help-column
          .panel-help-item h: cursor left
          .panel-help-item j: cursor down
          .panel-help-item k: cursor up
          .panel-help-item l: cursor right
          .panel-help-item s: cursor line start
          .panel-help-item e: cursor line end
          .panel-help-item u: undo
          .panel-help-item r: redo
        .panel-help-column
          .panel-help-item f: select down
          .panel-help-item b: select up
          .panel-help-item y: copy selection
          .panel-help-item d: delete selection
          .panel-help-item p: paste
          .panel-help-item x: delete right char
          .panel-help-item w: beautify
          .panel-help-item q: exit command mode
