.topbar CodeOnMobile
.container(ng-hide="profile.login")
  include login
.container(ng-show="profile.login")
  - var headerText = 'Repos foo'
  include header
  alert(ng-hide="repos", type="info") Loading...
  .list-group
    a.list-group-item(ng-repeat="repo in repos", href="#/repo?name={{repo.name}}&branch={{repo.default_branch}}") {{repo.name}}
