h3 Sign in
a(href="./auth/github") Sign in with GitHub
h3 Welcome
p Welcome to CodeOnMobile!
p
  | Please visit
  | &nbsp;
  a(href="https://github.com/dai-shi/codeonmobile", target="_blank") the project page
  | &nbsp;
  | for more information.
