.topbar CodeOnMobile > {{repo_name}}
.container(ng-hide="profile.login")
  include login
.container(ng-show="profile.login")
  - var headerText = 'Files'
  include header
  alert(ng-hide="repo_files", type="info") Loading...
  .list-group
    a.list-group-item(ng-repeat="file in repo_files", href="#/edit?name={{repo_name}}&branch={{repo_branch}}&path={{file.path}}&sha={{file.sha}}")
      span {{file.path}}
      span.text-danger(ng-show="checkModified(file)")
        span &nbsp;
        span.glyphicon.glyphicon-asterisk.small
      button.pull-right(ng-show="checkModified(file)", ng-click="deleteModified(file); $event.preventDefault()") Revert
  a.btn.btn-primary(ng-disabled="!checkAllModified()", href="#/diff?name={{repo_name}}&branch={{repo_branch}}") Show Diff
  p &nbsp;
