
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.topbar {
  color: #aaa;
  background-color: #222;
  border-color: #111;
  font-size: 16px;
  padding: 10px;
}

.avatar {
  margin: 3px;
  width: 40px;
  height: 40px;
}

.alert-top {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  z-index: 90;
}

.d2h-diff-table * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.d2h-code-linenumber {
  position: inherit;
}

.d2h-code-line {
  margin-left: 0;
}


.panel-area {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 80;
  pointer-events: none;
}

#panel-textarea {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
}

.panel-button a {
  float: right;
  color: #000;
  background-color: #fff;
  opacity: 0.2;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  padding: 5px 6px;
  border-radius: 20px;
  text-decoration: none;
  pointer-events: auto;
}

.panel-help {
  float: right;
}

.panel-help a {
  float: right;
  text-decoration: none;
  pointer-events: auto;
}

.panel-help-content {
  clear: right;
  float: left;
  background-color: rgba(255,255,255,0.6);
  padding: 6px;
  border-radius: 3px;
}

.panel-help-column {
  float: left;
  margin: 0 4px;
}

.panel-help-item {
  line-height: 100%;
}
